#calculatorContainer {
  width: 400px;
  height: 450px;
  background-color: rgb(128, 156, 161);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 25, 42, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

#calculatorResultContainer {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#calculatorResultContainer p {
  /*paunocu do p*/
  margin: 8px;
}

#buttonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

body {
  font: lighter 25pt Bahnschrift;
  background-color: rgb(61, 72, 76);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

header {
  color: white;
  font-size: 20pt;
}

footer {
  color: rgba(255, 255, 255, 0.556);
  font-size: 15pt;
  font-style: italic;
}

a {
  color: gray;
}

input[type="button"] {
  border-radius: 2px;
  border-color: transparent;
  font-size: 20pt;
  font-family: bahnschrift;
}

#zeroAndDot {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;
}
